.contacts__container {
  padding-top: 72px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;
}
@media only screen and (max-width: 1186px) {
  .contacts__container {
    grid-template-columns: 405px 1fr;
  }
}
@media only screen and (max-width: 882px) {
  .contacts__container {
    padding-top: 69px;
  }
}
@media only screen and (max-width: 670px) {
  .contacts__container {
    padding-top: 73px;
    padding-bottom: 35px;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 0;
    overflow-y: hidden;
  }
}

.contacts__p {
  margin-bottom: 16px;
  line-height: 19.07px;
  color: #666;
}

.contacts__h2 {
  margin-bottom: 9px;
}

.contacts__form {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media only screen and (max-width: 670px) {
  .contacts__form {
    margin-bottom: 10px;
  }
}

.contacts__form-btn {
  padding: 21px 50px 22px 51px;
  border-radius: 10px;
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  color: #fff;
  background-color: #A65CF0;
  outline: 2px solid #A65CF0;
  transition: background-color 0.3s ease-in-out, outline 0.3s ease-in-out;
  max-width: 160px;
  padding: 17px;
}
.contacts__form-btn:hover {
  background-color: #C998FB;
  outline: 2px solid #C998FB;
}
.contacts__form-btn:focus {
  background-color: #C998FB;
  outline: 2px solid #A65CF0;
}
.contacts__form-btn:active {
  background-color: #7033AC;
  outline: 2px solid #7033AC;
}

.contacts__input {
  padding: 7px 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 40px;
  color: #666;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  background-color: #F6F6F6;
  outline: 1px solid #F6F6F6;
  transition: background-color 0.2s ease-in-out outline 0.2s ease-in-out;
}
.contacts__input:hover {
  background-color: #EAEAEA;
  outline: 1px solid #EAEAEA;
}
.contacts__input:focus {
  outline: 1px solid #A65CF0;
  background-color: #F8EFFF;
}
.contacts__input:active {
  background-color: #F6F6F6;
  outline: 1px solid #B8EC64;
}

.contacts__checkbox-input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.contacts__checkbox-text {
  position: relative;
  line-height: 19.07px;
}
@media only screen and (max-width: 670px) {
  .contacts__checkbox-text {
    font-size: 12px;
  }
}

.contacts__checkbox-text::before {
  content: "";
  cursor: pointer;
  position: absolute;
  left: -22px;
  top: 3px;
  width: 15px;
  height: 15px;
  border: 1px solid #666;
  transition: 0.3s;
}

.contacts__checkbox-input:checked + .contacts__checkbox-text::before {
  border-color: #A65CF0;
  background-color: #A65CF0;
  background-image: url("images/Path3.svg");
  background-size: cover;
  background-position: center;
  transition: 0.3s;
}

.contacts__checkbox {
  padding-left: 21px;
}

.contacts__checkbox-link {
  color: #A65CF0;
  text-decoration: underline;
}

.contacts__img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contacts__img img {
  width: 100%;
  height: auto;
}/*# sourceMappingURL=contacts.css.map */