@import 'minix';

.footer{
  background-color: $colorGraylight;
}


.footer__container{
  padding-top: 27px;
  padding-bottom: 24px;
	display: flex;
 	justify-content: space-between;
   @include respond-to(medium-screens){
    flex-direction: column;
   }



}

.footer__content{
 display: flex;
 align-items: flex-start;
 overflow-x: auto;
 @include respond-to(wide-screens){
  flex-wrap: wrap;
  gap: 27px;
  justify-content: flex-start;
  padding-right: 6px;
 }
}



.footer__title{
  margin-bottom: 3px;
  font-family: Open Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  color: $colorBlack;
}

.footer___item-link{
  background-color: transparent;
  transition:  background-color 0.2s ease-in-out, color 0.2s ease-in-out;

  &:hover{
    color:$colorViolet;
    background-color: transparent;
  }
  &:focus{
    color: $colorVioletDark;
    background-color: $colorVioletFon;
  }
  &:active{
    color: $colorVioletDark;
    background-color: transparent;
  }
}

.footer___list {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.footer__contacts{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @include respond-to(medium-screens){
    flex-direction: row;
    margin-bottom: 20px;
    gap: 308px;
    justify-content: flex-start;
   }
   @include respond-to(wide-screens){
    flex-direction: column;
    margin-bottom: 23px;
    gap: 20px;
    justify-content: center;
    align-items: center;
   }
}

.footer__svg{
  display: flex;
  gap: 20px;
}

.footer__contact-svg{
  color: $colorGray;
  transition:   color 0.2s ease-in-out;

  &:hover{
    color:$colorViolet;
    background-color: transparent;
  }
  &:focus{
    background-color: $colorVioletLight;
    color:$colorWhite;
  }
  &:active{
    color: $colorVioletDark;
    background-color: transparent;
  }
}

.footer__mark{
  padding: 4px 0;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 19.07px;
  text-align: center;
  color: $colorGray;
  background-color: $colorWhite;

  span{
    margin-left: 5px;
  }
}


.nav-service{
  margin-left: 110px;
  @include respond-to(handhelds){
    margin-left: 75px;
  }
  @include respond-to(medium-screens){
    margin-left: 0;
    margin-right: 60px;
  }
  @include respond-to(wide-screens){
    margin-right: 0;
  }

}

.nav-connection{
  margin-left: 135px;
  @include respond-to(handhelds){
    margin-left: 95px;
  }
  @include respond-to(medium-screens){
    margin-left: 0;
    margin-right: 71px;
  }
  @include respond-to(wide-screens){
    margin-right: 22px;
  }
}

.nav-cooperation{
  margin-left: 145px;
  @include respond-to(handhelds){
    margin-left: 110px;
  }
  @include respond-to(medium-screens){
    margin-left: 0;
  }
}

.nav-about{
  @include respond-to(medium-screens){
    margin-right: 41px;
  }
  @include respond-to(wide-screens){
    margin-right: 45px;
  }
}
